*/target/**
*/.classpath
*/.project
*/.settings/
venv/
venvs/
*/.pydevproject
*.log
container_management/__pycache__/
*/gleam
*/gleam-esso
*/gleam-esso/**
EAHybrid/gleam-esso/testfeld/island/**
EAHybrid/gleam-esso/testfeld/island/*
