<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <script type="text/javascript" src="../js/index.js"></script>
    <script type="text/javascript" src="../js/showConfigurations.js"></script>
    <script type="text/javascript" src="../js/generateJson.js"></script>
    <script type="text/javascript" src="../js/validation.js"></script>
    <title>EA Parallelization Framework</title>
  </head>
  
  <body>
    <div class="container-sm p-3 my-3 bg-dark text-white">
        <h1>EA Parallelization Framework</h1>
        <p>Create your first job!</p>
    </div>

    <div class="container-sm p-3 my-3 bg-dark text-white"> 
        <h3>Choose a parallelization model:</h3>
            <form>
                <select id="models" name="models" class="custom-select">
                    <option selected>Select Parallelization Model</option>
                    <option value="master-slave">Master-Slave Model</option>
                    <option value="island">Island Model</option>
                    <option value="hybrid">Island Master-Slave Hybrid Model</option>
                  </select>
            </form>
        <!-- Configuration -->
        <div class="container p-3 my-3 border" id="config" style="display: none;">
            <h5 id="master-h5">Master-Slave Model Configuration</h5>
            <h5 id="island-h5">Island Model Configuration</h5>
            <h5 id="hybrid-h5">Hybrid Model Configuration</h5>
            
            <div class="row">
                <div id="island-number-div" class="col-sm-3">
                    <div class="form-group">
                        <label for="islands-number">Islands number</label>
                        <input type="number" min="1" max="5" class="form-control" placeholder="Enter Islands Number" id="islands-number">
                      </div>
                </div>
                <div id="slave-number-div" class="col-sm-3">
                    <div class="form-group">
                        <label for="slaves-number">Slaves number</label>
                        <input type="number" min="1" max="5" class="form-control" placeholder="Enter Slaves number" id="slaves-number">
                      </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="population">Population size</label>
                        <input type="number" min="50" max="500" class="form-control" placeholder="Enter Population Size" id="population">
                      </div>
                </div>
                <div id="migration-rate-div" class="col-sm-3">
                    <div class="form-group">
                        <label for="migration-rate">Migration Rate</label>
                        <input type="number" min="1" max="50" class="form-control" placeholder="Enter Migration Rate" id="migration-rate">
                      </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <form id="initial-selection-policy-form">
                        <label for="initial-selection-policy">Initial Selection Policy</label>
                        <select name="initialSelectionPolicy" class="custom-select" id="initial-selection-policy">
                          <option selected>Select Initial Selection Policy</option>
                          <option value="new">new</option>
                          <option value="best">best</option>
                          <option value="mix">mix</option>
                          <option value="bestNew">bestNew</option>
                        </select>
                      </form>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="strategy-parameter">Initial Strategy Parameter</label>
                        <input type="number" min="1" max="10" class="form-control" placeholder="Enter Initial Strategy Parameter" id="strategy-parameter">
                      </div>
                </div>
                <div class="col-sm-3">
                    <form id="initial-selection-policy-initializer-form">
                        <label for="initial-selection-policy-initializer">Selection Policy Initializer</label>
                        <select name="initialSelectionPolicyInitializer" class="custom-select" id="initial-selection-policy-initializer">
                          <option selected>Select Initial Selection Policy for Initializer</option>
                          <option value="new">new</option>
                          <option value="best">best</option>
                          <option value="mix">mix</option>
                          <option value="bestNew">bestNew</option>
                        </select>
                      </form>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="strategy-parameter-initializer">Initial Parameter Initializer</label>
                        <input type="number" min="1" max="10" class="form-control" placeholder="Enter Initial Strategy Parameter for Initializer" id="strategy-parameter-initializer">
                      </div>
                </div>
              </div>
              <div class="row">
                <div id="topology-div" class="col-sm-3">
                    <form id="topology-form">
                        <label for="topology">Topology</label>
                        <select name="topology" class="custom-select" id="topology">
                          <option selected>Select Topology</option>
                          <option value="ring">ring</option>
                          <option value="biRing">bi-ring</option>
                          <option value="ladder">ladder</option>
                          <option value="complete">complete</option>
                        </select>
                      </form>
                </div>
                <div id="selection-policy-div" class="col-sm-3">
                    <form id="selection-policy-form">
                        <label for="selection-policy">Migration Selection Policy</label>
                        <select name="selection-policy" class="custom-select" id="selection-policy">
                          <option selected>Select Selection Policy</option>
                          <option value="best">best</option>
                          <option value="random">random</option>
                        </select>
                      </form>
                </div>
                <div id="replacement-policy-div" class="col-sm-3">
                    <form id="replacement-policy-form">
                        <label for="replacement-policy">Migration Replacement Policy</label>
                        <select name="replacement-policy" class="custom-select" id="replacement-policy">
                          <option selected>Select Replacement Policy</option>
                          <option value="worst">worst</option>
                          <option value="random">random</option>
                        </select>
                      </form>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="deme-size">Deme Size</label>
                        <input type="number" min="1" max="8" class="form-control" placeholder="Enter Deme Size" id="deme-size">
                      </div>
                </div>
              </div>
              <div class="row">
                  <div id="async-migration-div" class="col-sm-3">
                    <form id="async-migration-form">
                        <label for="async-migration">Migration Synchronisity</label>
                        <select name="async-migration" class="custom-select" id="async-migration">
                          <option selected>Select Migration Synchronisity</option>
                          <option value="false">synchronized</option>
                          <option value="true">asynchronized</option>
                        </select>
                      </form>
                  </div>
                  <div class="col-sm-3">
                    <form id="accept-offspring-form">
                        <label for="accept-offspring">Offspring Acception Rule</label>
                        <select name="accept-offspring" class="custom-select" id="accept-offspring">
                          <option selected>Select Offspring Acception Rule</option>
                          <option value="always">always</option>
                          <option value="localLeast">localLeast</option>
                          <option value="localLeast-ES">localLeast-ES</option>
                          <option value="betterParent">betterParent</option>
                        </select>
                      </form>
                  </div>
                  <div class="col-sm-3">
                    <div class="form-group">
                        <label for="ranking-parameter">Ranking Parameter</label>
                        <input type="number" step="0.01" class="form-control" placeholder="Ranking Parameter" id="ranking-parameter">
                      </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="min-hamming">Min. Hamming Distance</label>
                        <input type="number" step="0.01" class="form-control" placeholder="Minimal Hamming Distance" id="min-hamming">
                      </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-3">
                    <form id="global-criterion-form">
                        <label for="global-criterion">Global Termination Criterion</label>
                        <select name="global-criterion" class="custom-select" id="global-criterion">
                          <option selected>Global Termination Criterion</option>
                          <option value="fitness">fitness</option>
                          <option value="evaluation">evaluation</option>
                          <option value="generation">generation</option>
                        </select>
                      </form>
                  </div>
                  <div class="col-sm-3">
                    <div class="form-group">
                        <label for="global-criterion-limit">Global Criterion Limit</label>
                        <input type="number" class="form-control" placeholder="Enter Global Limit" id="global-criterion-limit">
                      </div>
                </div>
                <div id="epoch-criterion-div" class="col-sm-3">
                    <form id="epoch-criterion-form">
                        <label for="epoch-criterion">Epoch Termination Criterion</label>
                        <select name="epoch-criterion" class="custom-select" id="epoch-criterion">
                          <option selected>Epoch Termination Criterion</option>
                          <option value="fitness">fitness</option>
                          <option value="evaluation">evaluation</option>
                          <option value="generation">generation</option>
                        </select>
                      </form>
                  </div>
                  <div id="epoch-criterion-limit-div" class="col-sm-3">
                    <div class="form-group">
                        <label for="epoch-criterion-limit">Epoch Criterion Limit</label>
                        <input type="number" class="form-control" placeholder="Enter Epoch Limit" id="epoch-criterion-limit">
                      </div>
                </div>
              </div>
        </div>
        <div id="success-alert" class="alert alert-success" style="display: none;">
          <strong>Success!</strong> Job Submitted Succesfully.
        </div>
        <div id="failure-alert" class="alert alert-danger" style="display: none;">
          <strong>Error!</strong> Please Check Inputs And Try Again!
        </div>
        <div class="container p-3 my-3" id="buttons" style="display: none;">
            <div class="row">
                <div class="col-sm-3">
                    <button id="submit"type="button" class="btn btn-primary btn-block">Submit Job!</button>
                </div>
                <div class="col-sm-3">
                    <button id="send-experiment"type="button" class="btn btn-success btn-block">Send Experiment!</button>
                </div>
        </div>
    </div>

  </body>
</html>